body {
    background-color: #FFD700/*#B8860B*/;

    display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh; /* Ensures the container takes at least the full height of the viewport */
            margin: 0; /* Remove default margin */

  }

  hr {
    /*background-color: white;*/
    border-style: dotted none none;
    width: 80%;
    border-color: #FF8C00;
    border-width: 7px;
  }

  #header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#logo {
    width: 100px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-right: 10px; /* Add margin for spacing between logo and title */
}

#title {
    font-size: 44px; /* Adjust the font size of the title as needed */
}

img {
    width: 590px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Set a maximum width to ensure responsiveness */
    display: block; /* Remove any default inline spacing */
    margin: 0 auto; /* Center the image horizontally */
}

  form {
    text-align: center; /* Center the content inside the form */
}
  
      .school-label,
  .school-location {
    text-align: center; /* Center the text within the container */
  }
  
  .learners-label,
  .learners-names {
      margin-bottom: 10px;
      text-align: center;
  }

  .school-images,
  .learners-images {
      display: flex;
      gap: 10px; /* Adjust the value according to your preference */
      margin-bottom: 10px;
  }

  /*.school-images img,
  .learners-images img {
      height: 100px;
      width: 150px;
  }*/
  .school-images input[type="image"] {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-width: 200px; /* Set a maximum width if necessary */
    max-height: 150px; /* Set a maximum height if necessary */
}

.learners-images input[type="image"] {
    width: 100%; /* Adjust the width as needed */
   /* height: auto; /* Maintain aspect ratio */
    max-width: 200px; /* Set a maximum width if necessary */
    max-height: 150px; /* Set a maximum height if necessary */
}

  .school-names,
  .learners-names {
      display: flex;
      gap: 10px; /* Adjust the value according to your preference */
  }
  
  .label-containerCurrDesign input {
      margin-left: 0; 
  }
  .label-containerTeacherSupport input {
      margin-left: 18px; 
  }
  .label-containerSchool input {
      margin-left: 79px; 
  }
  .label-containerLunch input {
      margin-left: 82px; 
  }